DB_ADAPTER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=chaowuqiong
DB_PASSWORD=change_me
DB_NAME=chaowuqiong_db

MYSQL_ROOT_HOST=127.0.0.1
MYSQL_ROOT_PORT=3306
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=change_me
