SERVER_HOST=115.190.158.182
SERVER_USER=root
SERVER_DOMAIN=fhwhkj.top
SERVER_APP_ROOT=/var/www/chaowuqiong
SERVER_FRONTEND_ROOT=/var/www/chaowuqiong/frontend
SERVER_BACKEND_ROOT=/var/www/chaowuqiong/apps/backend
SERVER_ADMIN_ROOT=/var/www/chaowuqiong/apps/web-manage
PM2_API_PROCESS=chaowuqiong-api
NGINX_SITE_CONF=/etc/nginx/conf.d/fhwhkj.top.conf
